@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;1000&display=swap");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

:root {
    --primary: #294b8a;
    --primary-dark: #153060;
    --secondary: #f36326;
    --white: #ffffff;
    --light-beige: #f3f3ec;
    --beige: #dbd4cc;
    --error-bg: #fecaca;
    --error: #dc2626;
    --font: "Nunito", "Helvetica Neue", sans-serif;
    color: var(--primary);
    font-family: var(--font);
    line-height: 1.2rem;
    font-weight: 900;
}

@media only screen and (min-width: 360px) {
    :root {
        font-size: 16px;
    }
}

@media only screen and (max-width: 359px) {
    :root {
        font-size: 12px;
    }
}

html,
body,
#root {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
}

a,
button,
input {
    font-weight: 900;
    font-family: var(--font);
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.float-right {
    float: right;
    margin-top: 1rem;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

.grid-form {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
}

.grid-form > label {
    grid-column: 1/2;
}

.grid-form > input,
.grid-form > textarea {
    width: 300px;
    margin-bottom: 1rem;
}

.grid-form > button {
    margin-top: 1rem;
}

.grid-form > input,
.grid-form > textarea,
.grid-form > button,
.grid-form > div,
.grid-form > a {
    grid-column: 2/3;
}

.selected {
    border-bottom: 5px solid var(--secondary);
}
