@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;1000&display=swap");

:root {
  --primary: #294b8a;
  --secondary: #f36326;
  --white: #ffffff;
  --light-beige: #f3f3ec;
  --beige: #dbd4cc;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--beige);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
