@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;1000&display=swap");

:root {
    --primary: #294b8a;
    --secondary: #f36326;
    --white: #ffffff;
    --light-beige: #f3f3ec;
    --beige: #dbd4cc;
    --font: "Nunito", "Helvetica Neue", sans-serif;
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}
